<footer class="footer">
  <div class="footer__logo">
    <img src="../../assets/img/logo.jpg" alt="logo">
  </div>
  <div class="footer__redes">
    <h3>Redes</h3>
    <ul class="footer__redes-ul">
      <li>
        <a class="footer__redes__link" href="#">
          <i class="bi bi-facebook">/gofixtucuman</i>
        </a>
      </li>
      <li>
        <a class="footer__redes__link" href="#">
          <i class="bi bi-instagram">/gofixtucuman</i>
        </a>
      </li>
      <li>
        <a class="footer__redes__link" href="#">
          <i class="bi bi-linkedin">/gofixtucuman</i>
        </a>
      </li>
    </ul>
  </div>
</footer>
