<div class="card" id="tarjeta-producto">
  <div class="card-header">
    <p class="card-category" id="categoria">Categoria</p>
    <p class="card-tittle" id="titulo-producto">{{producto.nombre}}</p>
  </div>
  <img class="card-img" id="imagen-producto" [src]="producto.imagenUrl" alt="">
  <div class="card-footer">
    <p class="card-precio" id="precio-producto">${{producto.precio}}</p>
    <button class="card-add"><i class="bi bi-pencil-square"></i></button>
    <button class="card-add"><i class="bi bi-bag-plus-fill"></i></button>
  </div>
</div>
