<nav class="navbar">
    <ul class="navbar__items">
      <li><a routerLink="" class="navbar__link">Inicio</a></li>
      <li><a routerLink="/productos" class="navbar__link">Productos</a></li>
      <li><a routerLink="/locales" class="navbar__link">Locales</a></li>
      <li><a routerLink="/contacto" class="navbar__link">Contacto</a></li>
      <li id="configuracionAdmin">
        <a routerLink="/backoffice"  class="navbar__link" (click)="usuariosService.mostrarFormOpcion()"><i class="bi bi-gear"></i></a>
      </li>
    </ul>
  </nav>
