<div class="filtro">
  <h3>Filtro</h3>
  <h6>Marcas <span class="btn-section"> - </span></h6>
  <div *ngFor="let i of marca" class="filtro__checkbox">
    <label>
      <input type="checkbox" id="categoria-{{i.marca}}" name="marca" value="{{i.marca}}"(change)="nuevoFiltro($event)"/><span class="checkbox">
        <span class="filtro__check">{{ i.marca }}</span>
      </span>
    </label>
  </div>
  <h6>Categorias<span class="btn-section"> - </span></h6>
  <div *ngFor="let i of categoria" class="filtro__checkbox">
    <label>
      <input type="checkbox" id="categoria-{{i.categoria}}" name="categoria" value="{{i.categoria}}"(change)="nuevoFiltro($event)"/><span class="checkbox">
        <span class="filtro__check">{{ i.categoria }}</span>
      </span>
    </label> 
  </div>
  <h6>Capacidad<span class="btn-section"> - </span></h6>
  <div *ngFor="let i of capacidad" class="filtro__checkbox">
    <label>
      <input type="checkbox" id="categoria-{{i.capacidad}}" name="capacidad" value="{{i.capacidad}}"(change)="nuevoFiltro($event)"/><span class="checkbox"
        ><span class="filtro__check">{{ i.capacidad }}</span></span
      >
    </label>
  </div>
  <h6>Color <span class="btn-section"> - </span></h6>
  <div *ngFor="let i of color" class="filtro__checkbox">
    <label>
      <input type="checkbox" id="categoria-{{i.color}}" name="color" value="{{i.color}}"(change)="nuevoFiltro($event)"/><span class="checkbox"
        ><span class="filtro__check">{{ i.color }}</span></span
      >
    </label>
  </div>
</div>

