<header class="header">
    <div class="header__redes">
      <ul class="header__redes-ul">
        <li>
          <a class="header__redes__link" href="#">
            <i class="bi bi-facebook">/gofixtucuman</i>
          </a>
        </li>
        <li>
          <a class="header__redes__link" href="#">
            <i class="bi bi-instagram">/gofixtucuman</i>
          </a>
        </li>
        <li>
          <a class="header__redes__link" href="#">
            <i class="bi bi-linkedin">/gofixtucuman</i>
          </a>
        </li>
      </ul>
    </div>
    <div class="header__navigation">
      <img class="header__menu" src="../../assets/img/menu.png" alt="" />
      <img class="header__logo" src="../../assets/img/logo.jpg" alt="logo" />
    </div>
    <!-- Inicio navbar modal -->
    <!-- <div class="modal-navbar__background">
      <nav class="modal-navbar">
        <img
          src="./img/cerrar.png"
          alt="close-icon"
          class="modal-navbar__close-icon"
        />
        <ul class="modal-navbar__items">
          <li><a href="index.html" class="modal-navbar__link">Inicio</a></li>
          <li><a href="#" class="modal-navbar__link">Producto</a></li>
          <li><a href="#" class="modal-navbar__link">Locales</a></li>
          <li><a href="locales.html" class="modal-navbar__link">Contacto</a></li>
        </ul>
      </nav>
    </div> -->
    <!-- Fin navbar modal -->
    <div class="header__cart-avatar">
      <div class="header__cart" (click)="mostrarCarritoEmergente()">
        <div class="header__cart--notification" >{{numerito}}</div>
        <img
          id="cartBolsa"
          class="header__cart--bolsa"
          src="../../assets/img/bolsa-de-la-compra.png"
          alt=""
        />
      </div>
      <img class="header__avatar" src="../../assets/img/usuario.png" alt="" />
    </div>
  </header>
