
<div id="cart-modal" class="cart-modal" *ngIf="carritoService.mostrarCarrito">
  <i class="bi bi-x-lg cart-modal__cierre" (click)="ocultarCarritoEmergente()"></i>
  <p class="cart-modal__tittle">Carrito</p>
  <div class="cart-modal__container">
    <div class="cart-modal__detalles">
      <app-popu-carrito-detalle *ngFor="let producto of repeticiones, let i = index" [id]="producto.id" [detalle]="producto"></app-popu-carrito-detalle>
    </div>
    <button routerLink="/carrito"  class="cart-modal__button" (click)="ocultarCarritoEmergente()">Comprar</button>
    <!-- <a routerLink="carrito" class="cart-modal__button">Comprar</a> -->
  </div>
</div>

