<div class="baner" id="baner1">
    <div class="baner__info">
      <p class="baner__info-titulo">¿queres tener tu propio local goxif?</p>
      <p class="baner__info-body">informate como abrir tu local hoy</p>
      <button class="baner__info-button" >Franquicias</button>
    </div>
    <div class="baner__contenedorImg">
      <img class="baner__img" src="../../assets/img/empresario-franquicias-gofix.png" alt="">
    </div>
  </div>
  <div class="baner2" id="baner2">
    <div class="baner2__contenedorImg">
      <img class="baner2__img" src="../../assets/img/reparacion-de-celular-1.png" alt="">
    </div>
    <div class="baner2__info">
      <p class="baner2__info-titulo">repara tus celulares en el dia</p>
      <p class="baner2__info-body">cotiza la reparacion de tu equipo</p>
      <button class="baner2__info-button" >Contactar un asesor</button>
    </div>
  </div>
  <div class="flechas">
    <img class="flechas_img-menor" src="../../assets/img/simbolo-menor-que.png" alt="" onclick="mostrarBannerAnterior()">
    <img class="flechas_img-mayor" src="../../assets/img/mayor-que-el-simbolo.png" alt="" onclick="mostrarSiguienteBanner()">
  </div>
