@use '../../sass/variables';

.slogan{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 700px;
  @media (min-width: 1115px) {
    width: 100%;
    height: 500px;
  }
  &__header{
    width: 80%;
    border-radius: 20px;
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    background-color: variables.$black;
    height: 100px;
    @media (min-width: 1115px) {
      width: 100%;
    }
    & p{
      margin: 0;
      padding: 0;
      color: variables.$white;
      font-family: variables.$font;
      font-weight: 700;
      font-size: 1rem;
      @media (min-width: 1115px) {
        font-size: 1.5em;
      }
    }
    &-marca{
      color: variables.$principal;
    }
  }
  &__body{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 80%;
    @media (min-width: 1115px) {
      flex-direction: row;
      height: 200px;
      width: 100%;
      justify-content: center;
    }
    &-locales,
    &-celulares{
      border-radius: 20px;
      background-color: gainsboro;
      margin: 20px 24px 0 24px;
      height: 175px;
      display: flex;
      flex-direction: row;
      @media (min-width: 1115px){
        width: 50%;
      }
      &-img{
        width: 50%;
        margin: 24px 0 24px 24px;
      }
    }
    &-texto{
      width: 50%;
      display: flex;
      align-items: start;
      flex-direction: column;
      justify-content: center;
      text-transform: uppercase;
      & p{
        color: gray;
        font-weight: 700;
        font-family: variables.$font;
        width: 50%;
      }
      & button {
        border: none;
        background-color: transparent;
        font-weight: 700;
        & span {
          border-radius: 25px;
          background-color: variables.$principal;
          color: variables.$white;
        }
      }
    }
  }
  &__footer{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    margin: 24px;
    @media (min-width: 1115px){
      width: 100%;
    }
    &-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100px;
      border: solid 1px gainsboro;
      height: 100px;
      @media (min-width: 1115px){
        width: 250px;
      }
      & div{
        height: 50%;
        display: flex;
        align-items: center;
      }
      &-img{
        width: 25px;
      }
      &-p{
        font-size: .7em;
        text-align: center;
      }
    }
  }

} 