<div class="slogan">
    <div class="slogan__header">
      <p>Reparamos <span class="slogan__header-marca">iPhone y Apple</span></p>
      <p>Somos servicio técnico oficial de <span class="slogan__header-marca">Samsung</span></p>
    </div>
    <div class="slogan__body">
      <div class="slogan__body-locales">
        <img class="slogan__body-locales-img" src="../../assets/img/locales.png" alt="locales">
        <div class="slogan__body-texto">
          <p>encontra un gofix cerca tuyo</p>
          <button id="buscarLocales">Buscar ahora <span>></span></button>
        </div>
      </div>
      <div class="slogan__body-celulares">
        <img class="slogan__body-celulares-img" src="../../assets/img/celulares.png" alt="celulares">
        <div class="slogan__body-texto">
          <p>CELULARES APPLE, SAMSUNG Y MAS</p>
          <button id="buscarCelulares">Buscar ahora <span>></span></button>
        </div>
      </div>
    </div>
    <div class="slogan__footer">
      <div class="slogan__footer-content">
        <div><img class="slogan__footer-content-img" src="../../assets/img/mano.png" alt="mano"></div>
        <div><p class="slogan__footer-content-p">99% reviews positivas </p></div>
      </div>
      <div class="slogan__footer-content">
        <div><img class="slogan__footer-content-img" src="../../assets/img/ciclo.png" alt="mano"></div>
        <div><p class="slogan__footer-content-p">Servicio garantizado</p></div>
      </div>
      <div class="slogan__footer-content">
        <div><img class="slogan__footer-content-img" src="../../assets/img/tarjeta-de-credito.png" alt="mano"></div>
        <div><p class="slogan__footer-content-p">Pago Seguro</p></div>
      </div>
      <div class="slogan__footer-content">
        <div>
          <img class="slogan__footer-content-img" src="../../assets/img/etiqueta.png" alt="mano">
        </div>
        <div>
          <p class="slogan__footer-content-p">Solo las mejores marcas</p>
        </div>
      </div>
    </div>
  </div>
